body {
  background-image: url("media/clod.gif");
  background-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  height: 100px;
  width: 100px;
  color: rgb(255, 0, 0);
  cursor: pointer;
  font-size: 50px;
  text-align: center;
  line-height: 30px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: white;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
}