.fancy {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
    background: #1A6393;
    background: -moz-linear-gradient(left, #1A6393 0%, #9D168C 100%);
    background: -webkit-linear-gradient(left, #1A6393 0%, #9D168C 100%);
    background: linear-gradient(to right, #1A6393 0%, #9D168C 100%);
    font-family: Arial, Helvetica, sans-serif;
}